// Colors
$white: #ffffff;
$text-color: #333;
$background-color: #F7F7F7;
$link-color: #069;

// Grid Width http://bourbon.io/#grid-width
// Easily setup and follow a grid based design. Check out gridulator.com
// The $gw-column and $gw-gutter variables must be defined in your base stylesheet to properly use the grid-width function.
$gw-column: 60px;          // Column Width
$gw-gutter: 20px;          // Gutter Width

